.tooltip {
  position: absolute;
  padding: 0.5rem 1rem;
  background-color: royalblue;
  border-radius: 1rem;
  opacity: 0;
  //transition: opacity 1s;

  &--top {
  }

  &--bottom {
  }

  &--left {
  }

  &--right {
  }

  &--show {
    opacity: 1;
  }
}
