$background-color: #121212;
$card-color: #0000007f;
$text-color: #ffffff;
$primary-color: #ddd;
$secondary-color: #03dac6;
$error-color: #cf6679;

@mixin theme() {
  --background-color: #{$background-color};
  --card-color: #{$card-color};
  --text-color: #{$text-color};
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --error-color: #{$error-color};
}
