:host {
  display: block;
}

.theme-switcher {
  $self: &;
  $size: 40px;

  display: block;
  position: relative;
  width: $size * 2;
  height: $size;

  &__input {
    position: relative;
    appearance: none;
    z-index: 1;

    &:checked ~ #{$self}__element::before {
      left: 54%;
    }
  }

  &__element {
    position: absolute;
    inset: 0;
    background-color: red;
    border-radius: 80px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 10%;
      translate: 0 -50%;
      width: $size - calc($size / 4);
      height: $size - calc($size / 4);
      background-color: green;
      border-radius: 50%;
      transition: 0.2s;
    }
  }
}
