:host {
  display: block;
}

.theme-switcher {
  $self: &;
  $width-of-switch: 3.5em;
  $height-of-switch: 2em;
  $size-of-icon: 1.4em;
  $slider-offset: 0.3em;

  display: block;
  position: relative;
  width: $width-of-switch;
  height: $height-of-switch;

  &__input {
    appearance: none;

    &:checked + #{$self}__element {
      background: var(--primary-color);

      &::before {
        left: calc(100% - ($size-of-icon + $slider-offset));
        background: var(--primary-color);
        box-shadow:
          inset -3px -2px 5px -2px #8983f7,
          inset -10px -4px 0 0 #a3dafb;
      }
    }
  }

  &__element {
    position: absolute;
    inset: 0;
    border-radius: 1em;
    background-color: var(--primary-color);
    transition: 0.2s;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      left: $slider-offset;
      top: 50%;
      height: $size-of-icon;
      width: $size-of-icon;
      border-radius: 1em;
      translate: 0 -50%;
      background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
      transition: 0.2s;
    }
  }
}
