@use 'utils/mixins';
@use 'utils/placeholders' as *;

:host {
  display: block;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__card {
    @extend %card-container;
  }

  @include mixins.mq('laptop') {
    flex-direction: row;
    align-items: flex-start;

    &__card {
      &--table {
        flex-grow: 1;
      }

      &--stats {
        order: -1;
      }
    }
  }
}
