@use 'utils/mixins';
@use 'utils/placeholders' as *;

:host {
  display: block;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__card {
    @extend %card-container;

    &--stats {
      display: flex;
      justify-content: space-evenly;

      p {
        display: flex;
        margin: 0;
        align-items: center;
        gap: 0.2rem;
      }

      img {
        filter: brightness(0) saturate(100%) invert(49%) sepia(34%) saturate(5934%) hue-rotate(219deg) brightness(102%)
          contrast(105%);
      }
    }
  }

  @include mixins.mq('laptop') {
    flex-direction: row;
    align-items: flex-start;

    &__card {
      &--table {
        flex-grow: 1;
      }

      &--stats {
        flex-direction: column;
        order: -1;
        gap: 1rem;

        p {
          gap: 0.5rem;
        }
      }
    }
  }
}
