@use 'utils/constants';
@use 'utils/mixins';
@use 'utils/placeholders' as *;

:host {
  display: block;
}

.header-panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__card {
    @extend %card-container;
    display: flex;
    align-items: center;
    gap: 2rem;

    &--headings {
      justify-content: center;
    }

    &--actions {
      justify-content: flex-end;
    }
  }

  &__heading {
    text-align: center;
    letter-spacing: 0.5rem;
  }

  @include mixins.mq('tablet') {
    flex-direction: row;

    &__card {
      &--headings {
        justify-content: flex-start;
        flex-grow: 1;
      }
    }
  }
}
