<p>
  <img [width]="36" [height]="36" ngSrc="icons/info-circle.svg" priority alt="icon of total tasks count" />
  <span>{{ tasksCountAll() }}</span>
</p>
<p>
  <img [width]="36" [height]="36" ngSrc="icons/close-circle.svg" priority alt="icon of uncompleted tasks count" />
  <span>{{ tasksCountUncompleted() }}</span>
</p>
<p>
  <img [width]="36" [height]="36" ngSrc="icons/check-circle.svg" priority alt="icon of completed tasks count" />
  <span>{{ tasksCountCompleted() }}</span>
</p>
<p>
  <img [width]="36" [height]="36" ngSrc="icons/important-circle.svg" priority alt="icon of important tasks count" />
  <span>{{ tasksCountIsImportant() }}</span>
</p>
