<table class="generic-table">
  <thead class="generic-table__header">
    <tr class="generic-table__row">
      @for (column of columnsConfig(); track $index) {
        <th class="generic-table__cell">{{ column.label }}</th>
      }
    </tr>
  </thead>
  <tbody class="generic-table__body">
    @for (row of rowsData(); track row.id) {
      <tr (click)="rowClick.emit(row.id)" class="generic-table__row">
        @for (column of columnsConfig(); track $index) {
          <td class="generic-table__cell">
            @if (column.computeValue) {
              {{ column.computeValue(row) }}
            } @else {
              {{ row[column.property] }}
            }
          </td>
        }
      </tr>
    }
  </tbody>
</table>
